body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
    padding: 20px;
  }
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #c1def4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.1);

  }
  input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  button {
    background: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background: #218838;
  }
  